{{#if comments}}
    <div class='row'>
        <h5 class="card-title mb-2 ps-3">Список комментариев</h5>
        {{#each comments}}
                <div class="ps-3">
                    <div class="comment mb-2">
                        <div class="d-flex flex-wrap">
                            <div class="mb-2 me-4 rounded-circle bg-success bg-opacity-10 border-0" style="width:65px; height:65px; overflow: hidden;">
                                <img src="{{{ternOperator this.cover 'https://termosfera.su/wp-content/uploads/2022/04/2816616767_vubrbej.jpg'}}}" alt="" style="height:100%;">
                            </div>
                            <div>
                                <h6 class="card-subtitle mb-2 text-muted">{{this.user.lastName}} {{this.user.firstName}}</h6>
                                <p class="card-text">{{this.message}}</p>
                            </div>
                        </div>
                    </div>

                    </div>
        {{/each}}
    </div>
{{else}}
    <h1>Список комментариев пуст!</h1>
{{/if}}