<table>
  <tr>
    <td>Название</td>
    <td>{{title}}</td>
  </tr>
  <tr>
    <td>Описание</td>
    <td>{{description}}</td>
  </tr>
  <tr>
    <td>Автор</td>
    <td>{{author}}</td>
  </tr>
  <tr>
    <td>Ссылка на новость</td>
    <td>
      <a href='http://localhost:3000/news/{{id}}'>
        http://localhost:3000/news/{{id}}
      </a>
    </td>
  </tr>
</table>